<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Sociome Data Commons</title>
</head>

<body>

<div style="margin-top: 10px;">
</div>
    
<div class="container is-fluid">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  	<img src="{% static 'icon.png' %}" width="50px">
    <a class="navbar-item" style="font-size: 14px;" href="/">
      Sociome Data Commons
    </a>
      
      <a class="navbar-item" href="/list" style="font-size: 14px;">
        Datasets
      </a>
      
      <a class="navbar-item" href="/upload" style="font-size: 14px;">
        Add Dataset
      </a>

      <a class="navbar-item" href="/dictionary" style="font-size: 14px;">
        Metadata
      </a>

     <span style="width: 80%;">
     </span>

     <!--<a class="button is-primary" href="/accounts/login" style="font-size: 12px; margin-top: 10px;">
      Log in
      </a>-->
  </div>

</nav>
</div>


<div class="container is-fluid">
  <div class="content">
  	{% block content %}
    {% endblock %}
  </div>
</div>

</body>

</html>