{% extends 'base.html' %}

{% block content %}

<p>Create a Data Dictionary</p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}


{% if error %}
<p><br></p>
 <article class="message is-warning" style="font-size: 12px;">
  <div class="message-header">
    <p>Error only administrators can add data to the Sociome and they must be reviewed. Please follow the contributing guide on how to add data.</p>
  </div>
  <div class="message-body">
    {{message}}
  </div>
</article>
{% endif %}

  <h2>For each column add a description:</h2>
  <label for="desc">On each line write a (column, description):</label><br>
  <textarea id="desc" name="desc" rows="5" cols="100">
  </textarea>
  <input type="hidden" id="id" name="id" value="{{uuid}}">
  <br>

  <h2>Provide a link to the source material</h2>
  <label for="name">Data Dictionary URL:</label><br>
  <input type="text" id="url" name="url" size="100"><br>

  <h2>Submit</h2>

  <input type="submit">
</form>
{% endblock %}