{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content is-fluid">
<br><br>

	<br><br>
<h4>About</h4>
The Sociome Data Commons provides a repository of datasets about the social, environmental, and economic context of a patient's health. This data can help researchers and practioners identify key non-clinical factors that might affect treatment plans. The project is a collaboration between the Institue of Translational Medicine (ITM) and the Data Science Institue.

<br><br>

The Sociome Data Commons has assembled and integrated diverse datasets into a simple, well-documented interoperable format. Researchers can use an application programming interface (API) to access these datasets directly from code or via an interactive website. The datasets are categorized with a structured, standardized metadata model that conforms to FAIR principles. 

<h5>Try it Out!</h5>
We've plotted a 5% sample of addresses in the city of Chicago and annotated these addresses with data from our sociome dataset.

<iframe src="{% static 'demo_map.html' %}" height="600" width="80%"></iframe>

<p><br></p>

We strive for reproducibility and all of the maps can be produced with our library <a href="{% static 'demo_notebook.html' %}">here</a>.

<p><br></p>

<h4>Getting Started (Programmers)</h4>
The following instructions assume basic familiarity with Python programming. We will eventually release more accessible instructions.

<br><br>

<h5>sociomepy</h5>
The project utilizes a Python toolkit to aid with common data integration and harmonization steps that researchers using the data might encounter. This toolkit can access SDC datasets via API and can be run inside a clinical data enclave. We provide this toolkit as an open-source utility. Install the `sociomepy` software package by following the instructions here: https://github.com/sociome/sociomepy

To summarize,
<ul>
	<li>Sociomepy allows programmers to remote access SDC assets.</li>
	<li>Sociomepy allows programmers to combine SDC assets with a variety of regional geospatial data.</li>
	<li>Sociomepy allows programmers to create complex maps, charts, and models.</li>
	<li>Sociomepy allows data to be exported so programmers can contribute to the SDC.</li>
</ul>

<br><br>

<h5>Using the SDC</h5>
Next, we overview how to find SDC assets. Click on the "Datasets" link to access the list of datasets. Users can write search queries to identify datasets of interest. When you find a dataset that you like, you can click the dataset link. That will open up a page that 

Follow the instructions to load data into sociomepy. Data can be downloaded as an ordinary file or accessed via API. The API access is particularly useful when you want to avoid storing a dataset permanently.

<br><br>

<h5>Contributing to the SDC</h5>
We are still working on this, but we will provide guidelines on how the community can contribute data, code, and updates to all of the SDC infrastructure.

<br><br>

<h4>Open Source</h4>
All of the SDC infrasstructure is open-source, and you can access it here: https://github.com/sociome/. All software is released with an MIT License. The MIT License is a permissive software license that places few restrictions of reuse. Users of software using an MIT License are permitted to use, copy, modify, merge publish, distribute, sublicense and sell copies of the software. 

<br><br>

{% endblock %}
