{% extends 'base.html' %}

{% block content %}

<div class="content is-fluid">

<p><br></p>

<h4>About the Project</h4>
The Sociome Data Commons provides a repository of datasets about the social, environmental, and economic context of a patient's health. This data can help researchers and practioners identify key non-clinical factors that might affect treatment plans. The project is a collaboration between the Institue of Translational Medicine (ITM) and the Data Science Institue.

<p><br></p>

<h4>Getting Started</h4>
TODO

<p><br></p>

<h4>Contributing</h4>
TODO

<p><br></p>

<h4>Open Source</h4>
TODO

<p><br></p>

{% endblock %}