{% extends 'base.html' %}

{% block content %}

<div class="content is-fluid">
<p><br></p>

<h4>Access The Sociome Datasets</h4>
The datasets below contain social, environment, and clinical factors relevant to patient outcomes.

<p>
<form method="post">
{% csrf_token %}
<label for="name">Search for a dataset:</label>
<input type="text" id="search" name="search"> <input type="submit">
</form>
</p>

</div>

    <table class="table">
    <thead>
      <tr>
          <th>Dataset Name</th>
          <th>Description</th>
          <th>Details</th>
      </tr>
      
    </thead>
    {% for dataset in datasets %}
        <tr>
          <td>{{dataset.name}}</td>
          <td>{{dataset.desc}}</td>
          <td><a href="/dataset?id={{dataset.uuid}}">More...</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}