{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}


{% if error %}
<p><br></p>
 <article class="message is-warning" style="font-size: 12px;">
  <div class="message-header">
    <p>Error</p>
  </div>
  <div class="message-body">
    {{message}}
  </div>
</article>
{% endif %}

  <h2>Add a new dataset</h2>
  <label for="name">Dataset Name:</label><br>
  <input type="text" id="name" name="name" size="100"><br>
  <label for="desc">Short Dataset Description:</label><br>
  <textarea id="desc" name="desc" rows="5" cols="100">
  </textarea><br>

  <h2>Provide the S3 Links</h2>
  <label for="name">Dataset URL:</label><br>
  <input type="text" id="filename" name="filename" size="100"><br>
  <label for="desc">Data Dictionary URL (optional):</label><br>
  <input type="text" id="datadict" name="datadict" size="100"><br><br>

  <h2>Add Metadata</h2>

  {{metadata|safe}}

  <h2>Submit</h2>

  <input type="submit">
</form>
{% endblock %}