{% extends 'base.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}


{% if error %}
<p><br></p>
 <article class="message is-warning" style="font-size: 12px;">
  <div class="message-header">
    <p>Error</p>
  </div>
  <div class="message-body">
    {{message}}
  </div>
</article>
{% endif %}

  <h2>Add a new dataset</h2>
  <label for="name">Dataset Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="desc">Short Dataset Description:</label><br>
  <textarea id="desc" name="desc" rows="4" cols="50">
  </textarea><br>

  <h2>Upload</h2>

  <input type="file" id="filename" name="filename"><br>


  <h2>Add Metadata</h2>

  {{metadata|safe}}

  <h2>Submit</h2>

  <input type="submit">
</form>
{% endblock %}